Package: horus
Version: 0.1.625
Section: office
Priority: optional
Architecture: i386
Essential: no
Depends: libqt4-xml ( >= 4.5.0), libqt4-network ( >= 4.5.0), libqtcore4 ( >= 4.5.0), libqtgui4 (>= 4.5.0)
Installed-Size: 8300
Maintainer: Horus Dev Team [contact@horus-edu.net]
Provide: horus
Description: Horus est un espace numerique de travail pour un systeme educatif.
	     Horus couvre tout les aspects de la vie scolaire et integre efficacement l'outil informatique a la pedagogie.
