<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="0c78287d-e260-4d13-97bf-b967a14ff683" Name="!(loc.ServerTitle)" Language="1033" Version="0.1.1253" Manufacturer="HorusServerInstaller" UpgradeCode="859dc3be-25ee-444c-bf11-5c7cd6ea2dff">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Icon Id="HorusIcon.ico" SourceFile="../../Client/Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="HorusIcon.ico" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLDIR" Name="HorusServer">
          <Component Id="ServerMainExe" Guid="05a23385-8d96-4588-a3dc-f199af6a561f">
            <File Name='Horus_Server.exe' Source='../../Server/release/Horus_Server.exe' KeyPath='yes' />
          </Component>
          <Component Id="ServerXConfExe" Guid="2aa42da7-b3d6-4151-802a-f183ecea1ff5">
            <File Name='HorusXconf.exe' Source='../../Installer/Configuration/HorusXconf/release/HorusXconf.exe' KeyPath='yes' />
          </Component>
          <Component Id="QtCore4" Guid="baf20c78-35b8-4421-909c-e3078c6ace35" KeyPath="yes">
            <File Name='QtCore4.dll' Source='CoreDLL/msvc2008/QtCore4.dll' />
          </Component>
          <Component Id="QtNetwork4" Guid="07fa073e-0113-4b73-a11b-00536f83b5e8" KeyPath="yes">
            <File Name='QtNetwork4.dll' Source='CoreDLL/msvc2008/QtNetwork4.dll' />
          </Component>
          <Component Id='OpenSSL' Guid='adb3be26-b5e7-4dea-b4ee-f5314596897c'>
            <File Name='ssleay32.dll' Source='CoreDLL/msvc2008/ssleay32.dll' />
            <File Name='libeay32.dll' Source='CoreDLL/msvc2008/libeay32.dll' />
          </Component>
            <Component Id="QtSql4" Guid="7bcda943-530f-45ce-905b-7c0139688635" KeyPath="yes">
            <File Name='QtSql4.dll' Source='CoreDLL/msvc2008/QtSql4.dll' />
          </Component>
          <Directory Id="PLUGINDIR" Name="Plugins">
            <Directory Id="FileBaseServerPluginDir" Name="FileBaseServer">
              <Component Id="ServerPluginFileBaseServer" Guid="f5a7fb27-b0c6-45e7-a006-c2373f54bb47" KeyPath="yes">
                <File Name="FileBaseServerMetaPlugin.dll" Source="..\..\Server\Plugins\FileBaseServer\release\FileBaseServerMetaPlugin.dll" />
              </Component>
            </Directory>
            <Directory Id="MailServerPluginDir" Name="MailServer">
              <Component Id="ServerPluginMailServer" Guid="5919b9f5-c6f6-4132-bcf0-03f2e09e22e1" KeyPath="yes">
                <File Name="MailServerMetaPlugin.dll" Source="..\..\Server\Plugins\MailServer\release\MailServerMetaPlugin.dll" />
              </Component>
            </Directory>
            <Directory Id="SettingsBaseServerPluginDir" Name="SettingsBaseServer">
              <Component Id="ServerPluginSettingsBaseServer" Guid="49c78b1b-4cd1-4cc3-9023-8b55d09e4dc4" KeyPath="yes">
                <File Name="SettingsBaseServerMetaPlugin.dll" Source="..\..\Server\Plugins\SettingsBaseServer\release\SettingsBaseServerMetaPlugin.dll" />
              </Component>
            </Directory>
            <Directory Id="TreeBaseServerPluginDir" Name="TreeBaseServer">
              <Component Id="ServerPluginTreeBaseServer" Guid="2073cd20-0a7e-45be-88ff-7bd5a75559c5" KeyPath="yes">
                <File Name="TreeBaseServerMetaPlugin.dll" Source="..\..\Server\Plugins\TreeBaseServer\release\TreeBaseServerMetaPlugin.dll" />
              </Component>
            </Directory>
            <Directory Id="UserBaseServerPluginDir" Name="UserBaseServer">
              <Component Id="ServerPluginUserBaseServer" Guid="2a4ad51c-8560-4335-ac5f-dda57f6fd995" KeyPath="yes">
                <File Name="UserBaseServerMetaPlugin.dll" Source="..\..\Server\Plugins\UserBaseServer\release\UserBaseServerMetaPlugin.dll" />
              </Component>
            </Directory>
            <Directory Id="WhiteBoardDataServerPluginDir" Name="WhiteBoardDataServer">
              <Component Id="ServerPluginWhiteBoardDataServer" Guid="6224e522-4d4d-4841-8f10-cb1003784299" KeyPath="yes">
                <File Name="WhiteBoardDataServerMetaPlugin.dll" Source="..\..\Server\Plugins\WhiteBoardDataServer\release\WhiteBoardServerMetaPlugin.dll" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
			</Directory>
		</Directory>

    <Feature Id="ServerMainExeFeature" Title="!(loc.ServerTitle)" Level="1" ConfigurableDirectory='INSTALLLDIR'>
      <ComponentRef Id="ServerMainExe" />
      <ComponentRef Id="QtCore4" />
      <ComponentRef Id="QtSql4" />
      <ComponentRef Id="QtNetwork4" />
      <ComponentRef Id="OpenSSL" />
      <Feature Id="ServerConfigFeature" Title="!(loc.XconfTitle)" Level="1">
        <ComponentRef Id="ServerXConfExe" />
      </Feature>
      <Feature Id="ServerPlugginsFeature" Title="!(loc.PluginsTitle)" Level="1" Absent="disallow" ConfigurableDirectory="PLUGINDIR">
        <Feature Id="ServerFilePluginFeature" Title="!(loc.FileTitle)" Level="1">
          <ComponentRef Id="ServerPluginFileBaseServer" />
        </Feature>
        <Feature Id="ServerMailPluginFeature" Title="!(loc.MailTitle)" Level="1">
          <ComponentRef Id="ServerPluginMailServer" />
        </Feature>
        <Feature Id="ServerSettingsPluginFeature" Title="!(loc.SettingsTitle)" Level="1">
          <ComponentRef Id="ServerPluginSettingsBaseServer" />
        </Feature>
        <Feature Id="ServerTreePluginFeature" Title="!(loc.TreeTitle)" Level="1">
          <ComponentRef Id="ServerPluginTreeBaseServer" />
        </Feature>
        <Feature Id="ServerUserPluginFeature" Title="!(loc.UserTitle)" Level="1">
          <ComponentRef Id="ServerPluginUserBaseServer" />
        </Feature>
        <Feature Id="ServerWhiteBoardPluginFeature" Title="!(loc.WhiteBoardTitle)" Level="1">
          <ComponentRef Id="ServerPluginWhiteBoardDataServer" />
        </Feature>
      </Feature>
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
	</Product>
</Wix>
