Package: Horus-Server
Version: 0.615
Section: net
Priority: optional
Architecture: all
Depends: libqtcore4 ( >= 4.5.0-1), libqt4-sql ( >= 4.5.0-1), libqt4-network ( >= 4.5.0-1), libqt4-sql-mysql ( >= 4.5.0-1)
Maintainer: contact@horus-edu.net
Description: Horus server including mandatory plugins
